{% extends "layout.html" %}
{% block content %}
<form id="upload-form" action="{{ url_for('uploadpdf') }}" method="POST" enctype="multipart/form-data">
    <br>
    <strong>Files:</strong><br>
    <input id="file-picker" onchange="readURL(this);" type="file" name="file" accept="pdf/*" multiple>
    <img id="blah" src="#" alt="your pdf" />
    <div id="msg"></div>
    <br>
    <br>
    <input type="submit" value="Upload!" id="upload-button">
</form>

<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if (ext == 'pdf')
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

</script>
{% endblock %}